@media (max-width: 1440px) {
    body {
        .mainIndex {
            section {
                .parrafosIndex {
                    .parrafoSobreHL {
                        font-size: 1.1rem;
                    }
                    .sobreHLtitulo {
                        font-size: 1.8rem;
                    }
                    .parrafoJugabIndex {
                        font-size: 1.1rem;
                    }
                    .jugabIndexTitulo {
                        font-size: 1.8rem;
                    }
                    .tresFinTitulo {
                        font-size: 1.8rem;
                    }
                    .parrafoTresFin {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        padding-right: 20px;
                        height: auto;
                    }
                }
            }
        }
    }
    body {
        .mainIndex {
            section {
                .personajeEleazar {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .personajeRanrok {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .personajeVictor {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    body {
        .mainGryffindor {
            section {
                .parrafosGryffindor {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        padding-right: 20px;
                        height: auto;
                    }
                }
            }
            section {
                .personajes {
                    div {
                        h4 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .mainHufflepuff {
            section {
                .parrafosHufflepuff {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        padding-right: 20px;
                        height: auto;
                    }
                }
            }
            section {
                .personajes {
                    div {
                        h4 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .mainRavenclaw {
            section {
                .parrafosRavenclaw {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        padding-right: 20px;
                        height: auto;
                    }
                }
            }
            section {
                .personajes {
                    div {
                        h4 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .mainSlytherin {
            section {
                .parrafosSlytherin {
                    h3 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                    img {
                        width: 100%;
                        padding-right: 20px;
                        height: auto;
                    }
                }
            }
            section {
                .personajes {
                    div {
                        h4 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
