@media (max-width: 923px) {
    body {
        .headerIndex {
            nav {
                .menuIndex {
                    ul {
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .headerGryffindor {
            nav {
                div {
                    ul {
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .headerHufflepuff {
            nav {
                .menuHufflepuff {
                    ul {
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .headerRavenclaw {
            nav {
                .menuRavenclaw {
                    ul {
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    body {
        .headerSlytherin {
            nav {
                .menuSlytherin {
                    ul {
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}