@media (max-width: 768px) {
    body {
        .headerIndex {
            nav {
                .menuIndex {
                    ul {
                        a {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .mainIndex {
            .tituloIndex {
                font-size: 1.1rem;
            }
            section {
                .parrafosIndex {
                    .sobreHLtitulo {
                        font-size: 1.5rem;
                    }
                    .parrafoSobreHL {
                        font-size: 0.7rem;
                    }
                    .jugabIndexTitulo {
                        font-size: 1.5rem;
                        padding-bottom: 10px;
                    }
                    .parrafoJugabIndex {
                        font-size: 0.7rem;
                        padding-top: 0;
                    }
                    video {
                        width: 70%;
                        height: auto;
                    }
                    .trailer {
                        font-size: 1rem;
                    }
                    .tresFinTitulo {
                        font-size: 1.5rem;
                    }
                    .parrafoTresFin {
                        font-size: 0.7rem;
                    }
                }
            }
            section {
                .personajeEleazar {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                }
                .personajeRanrok {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                }
                .personajeVictor {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                }
            }
            .divForm {
                form {
                    label {
                        font-size: 1rem;
                    }
                    input {
                        width: 40%;
                    }
                }
            }
        }
    }
    body {
        .headerGryffindor {
            nav {
                div {
                    ul {
                        a {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .mainGryffindor {
            .tituloGryffindor {
                h1 {
                    font-size: 2.5rem;
                }
            }
            section {
                .parrafosGryffindor {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                    video {
                        width: 70%;
                        height: auto;
                    }
                }
            }
        }
    }
    body {
        .headerHufflepuff {
            nav {
                .menuHufflepuff {
                    ul {
                        a {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .mainHufflepuff {
            .tituloHufflepuff {
                h1 {
                    font-size: 2.5rem;
                }
            }
            section {
                .parrafosHufflepuff {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                    video {
                        width: 70%;
                        height: auto;
                    }
                }
            }
        }
    }
    body {
        .headerRavenclaw {
            nav {
                .menuRavenclaw {
                    ul {
                        a {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .mainRavenclaw {
            .tituloRavenclaw {
                h1 {
                    font-size: 2.5rem;
                }
            }
            section {
                .parrafosRavenclaw {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                    video {
                        width: 70%;
                        height: auto;
                    }
                }
            }
        }
    }
    body {
        .headerSlytherin {
            nav {
                .menuSlytherin {
                    ul {
                        a {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .mainSlytherin {
            .tituloSlytherin {
                h1 {
                    font-size: 2.5rem;
                }
            }
            section {
                .parrafosSlytherin {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                    video {
                        width: 70%;
                        height: auto;
                    }
                }
            }
        }
    }
}