@media (max-width: 1255px) {
    body {
        .mainIndex {
            section {
                .parrafosIndex {
                    .parrafoSobreHL {
                        font-size: 1rem;
                    }
                    .parrafoJugabIndex {
                        font-size: 1rem;
                    }
                    .parrafoTresFin {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    body {
        .mainIndex {
            section {
                .personajeEleazar {
                    h3 {
                        font-size: 1.7rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                .personajeRanrok {
                    h3 {
                        font-size: 1.7rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                .personajeVictor {
                    h3 {
                        font-size: 1.7rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    body {
        .mainGryffindor {
            section {
                .parrafosGryffindor {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    body {
        .mainHufflepuff {
            section {
                .parrafosHufflepuff {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    body {
        .mainRavenclaw {
            section {
                .parrafosRavenclaw {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    body {
        .mainSlytherin {
            section {
                .parrafosSlytherin {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
