body {
    .mainSlytherin {
        .tituloSlytherin {
            color: rgba(0, 0, 0, 0.781);
            font-size: 1.5625rem;
            display: flex;
            justify-content: center;
            h1 {
                text-shadow: 2px 1px 2px rgba(15, 15, 15, 0.966);
            }
        }
        section {
            .parrafosSlytherin {
                background-color: rgb(151, 221, 191);
                margin: 30px 60px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                h3 {
                    font-size: 2rem;
                    text-shadow: 0px 0.5px 0.5px rgba(15, 15, 15, 0.966);
                }
                p {
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 0px 0.5px 0.5px rgba(15, 15, 15, 0.966);
                }
            }
            .parrafoCasaS {
                display: grid;
                @include grid (auto, auto, none, none, "tituloCasaS FotoLogoS" "textoCasaS FotoLogoS");
                h3 {
                    grid-area: tituloCasaS;
                    margin: 1.25rem;
                    justify-self: center;
                }
                p {
                    grid-area: textoCasaS;
                    margin: 1.25rem;
                }
                img {
                    grid-area: FotoLogoS;
                    align-self: center;
                    justify-self: center;
                }
            }
            .parrafoSalaS {
                display: grid;
                @include grid (auto, auto, none, none, "VideoSalaS tituloSalaS" "VideoSalaS textoSalaS");
                h3 {
                    grid-area: tituloSalaS;
                    margin: 1.25rem;
                    justify-self: center;
                }
                p {
                    grid-area: textoSalaS;
                    margin: 1.25rem;
                }
                video {
                    grid-area: VideoSalaS;
                    align-self: center;
                    justify-self: center;
                    width: 80%;
                    &:hover {
                        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.247);
                    }
                }
            }
            .jugabilidadCasaS {
                display: grid;
                @include grid (auto, auto, none, none, "tituloJugabilidadS FotoJugS" "textoJugS FotoJugS");
                h3 {
                    grid-area: tituloJugabilidadS;
                    margin: 1.25rem;
                    justify-self: center;
                }
                p {
                    grid-area: textoJugS;
                    margin: 1.25rem;
                }
                img {
                    grid-area: FotoJugS;
                    align-self: center;
                    justify-self: center;
                    padding: 20px;
                }
            }
        }
        section {
            .tituloPersonajesSly {
                background-image: url(../assets/sly/titulo-personajes.png);
                text-align: center;
                background-size:cover;
                background-repeat: no-repeat;
                padding: 1.875rem;
                font-size: 1.875rem;
                color: white;
                text-shadow: 5px 2px 5px black;
            }
            .personajes {
                display: flex;
                flex-wrap: wrap;
                @include flex (row, space-around, none, none);
                .sebastian {
                    color: white;
                    font-size: 1rem;
                    border: 2px solid rgb(4, 133, 0);
                    background-color: rgb(0, 53, 9);
                    border-radius: 20%;
                    text-align: center;
                    box-shadow: 3px 9px 5px rgba(0, 0, 0, 0.596);
                    margin-left: 40px;
                    margin-right: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-shadow: 8px 2px 5px rgba(0, 0, 0, 0.644);
                    h4 {
                        padding-bottom: 10px;
                    }
                }
                .imelda {
                    @extend .sebastian;
                }
                .ominis {
                    @extend .sebastian;
                }
                .nerida {
                    @extend .sebastian;
                }
                .grace {
                    @extend .sebastian;
                }
            }
        }
    }
}